<%- include('../layout/header')%>


<section class="vh-100" style="background-color: #c8fc50;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Add new User</h3>


              <form action="new-user" method="post" class="text-center align-items-center">

                <div class="form-outline mb-4">
                    <input type="name" name="name" id="typeEmailX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX-2">name</label>
                  </div>

                <div class="form-outline mb-4">
                  <input type="email" name="email" id="typeEmailX-2" class="form-control form-control-lg" />
                  <label class="form-label" for="typeEmailX-2">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" name="password" id="typePasswordX-2" class="form-control form-control-lg" />
                  <label class="form-label" for="typePasswordX-2">Password</label>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Adding</button>

                <% if (Message) { %>
                  <p class="text-success"><%= Message %></p>
                <% } %>

                <h6 class="pt-3"><a href="/admin/dashboard/edit-user">back to dashboard</a></h6>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<%- include('../layout/footer')%>