<%-include('../layout/header') %>
<section class="" style="background-color: #e6f1be;">
<h1 class="text-center">HOME PAGE</h1>

<h2 class="text-center">welcome <%= massege.name %></h2>

  <div class="d-flex justify-content-center">
    <img src="https://e0.pxfuel.com/wallpapers/109/810/desktop-wallpaper-avengers-logo-u-gg-marvel-ultra.jpg" alt="" class="mx-auto">
  </div>
<div class="text-center">
    <a href="/logout"><button type="button" class="btn btn-primary mt-1">Logout</button></a>
  </div>
</section>
<%-include('../layout/footer') %>
